<div class="container col-md-8 col-lg-6">
  <h1 class="p-2" style="font-size: 20px;font-weight: bold;">管理人メニュー</h1>
</div>
<section class="event-content-block">
  <div class="container col-md-8 col-lg-6">
    <ul class="list-unstyled">
      <% if current_user.is_manager %>
        <li class="border-bottom p-4"><i class="fas fa-pencil-alt icon-color mr-2"></i></i><%= link_to 'イベント編集', edit_event_path(@event), class: 'text-body text-decoration-none' %></li>
        <li class="p-4 border-bottom"><i class="fas fa-flag icon-color mr-2"></i><%= link_to 'イベント削除', event_path(@event), class: 'text-body text-decoration-none', method: :delete, data: { confirm: 'イベントを削除します。よろしいですか？'} %></li>
      <% end %>
    </ul>
  </div>
</section>