<div class="container padding-bottom-100">
  <h1 class="mt-4 font-weight-bold" style="font-size:32px;"><i class="fas fa-edit icon-color mr-2"></i>ブログ登録</h1>
  <%= render 'learn_records/form', model_obj: @blog %>
</div>