<div class="container padding-bottom-100">
  <h1 class="mt-4 font-weight-bold" style="font-size:32px;"><i class="fas fa-edit icon-color mr-2"></i>勉強ノートを書く</h1>
  <%= render 'form', model_obj: @learn_record %>
</div>
