<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger p-0">
      <ul class="mb-0 pt-2 pb-2">
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>