<% if controller.controller_name == 'events' && controller.action_name == 'show' %>
  <nav class="fixed-bottom event-apply-tabbar">
    <div class="container col-lg-6 col-md-6 d-flex justify-content-around align-items-center">
      <div>
        <p class="m-0 text-center" style="font-size:10px;">参加費</p>
        <p class="m-0 font-weight-bold" style="font-size: 20px;">¥&nbsp;<%= @event.price_label %></p>
      </div>
      <div class="">
        <a class="event-apply-btn" href="/popups/5de33888528beb4606a44826/bookings/new">予約する</a>
      </div>
    </div>
  </nav>
<% else %>
  <nav class="fixed-bottom tabbar-frame">
    <div class="container col-lg-6 col-md-6 d-flex justify-content-between">
      <%# <div class="nav-item"> %>
      <a href="/" class="icon-box">
        <i class="fa fa-home nav-item__icon" aria-hidden="true"></i>
        <p class="icon_text">ホーム</p>
      </a>
        <%# <span class="nav-item__text">home</span> %>
      <%# </div> %>
      <a href="/" class="icon-box">
        <i class="fa fa-flag nav-item__icon" aria-hidden="true"></i>
        <p class="icon_text">イベント</p>
      </a>
      <a href="/" class="icon-box">
        <i class="fa fa-comment nav-item__icon"></i>
        <p class="icon_text">メッセージ</p>
      </a>
      <a href="/" class="icon-box">
        <i class="fa fa-user-circle nav-item__icon"></i>
        <p class="icon_text">マイページ</p>
      </a>
    </div>
  </nav>
<% end %>
