<div class="mt-5 main" style="margin-bottom: 100px;">
  <div class="container col-lg-5 col-md-5">
    <div class="signup-form ">
      <h1>イベント編集</h1>
      <%= render 'events/form' %>
    </div>
  </div>
</div>