<div class="padding-bottom-100">
  <div class="container col-md-8 col-lg-6">
  <h1 class="mt-4 mb-4 font-weight-bold" style="font-size:24px;"><i class="fas fa-list-alt icon-color mr-2"></i>開催イベント一覧</h1>
  <%= render partial: 'events/event_box', collection: @events, as: 'event' %>
  <%= paginate(@events) %>
  </div>
</div>