<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background: #F1F1F1;">
  <div class="container">
    <%= link_to root_path do %>
      <%= image_tag '/TSS_RED.jpg', class: 'navbar-brand', size: '150x45' %>
    <% end %>
    <% unless user_signed_in? %>
      <div class="d-flex">
        <%= link_to "ログイン", new_user_session_path, class: 'login-button mr-2' %>
        <%= link_to "新規登録", new_user_registration_path, class: 'signup-button' %>
      </div>
    <% end %>
  </div>
</nav>  
