<p>こんにちは <%= @email %>!</p>

<p>以下のリンクから、本登録を完了してください！</p>

<p><%= link_to 'アカウントを登録する！',
                controller: 'users/confirmations',
                action: 'create',
                confirmation_token: @token %></p>
